<div class="container">
    <div class="row">
        <div class="col-lg-4">
        <h3 style="margin: 50px;">User Login</h3>
            <form name="form" class="thing-form">
                <p class="input-group">
                    <input type="text" class="form-control" placeholder="User name" ng-model="$ctrl.newUser" name="inptusr" required>
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label class="float-label" for="exampleInputEmail1">User name</label>
                </p>
                <button ng-disabled="!form.inptusr.$valid" type="submit" class="btn btn-primary" ng-click="$ctrl.addUser()">Enter</button>

            </form>
        </div>
    </div>
</div>

