<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Current Auction</h3>
        </div>
        <div class="panel-body">
            <div ng-if="auctions.length <= 0">
            	<h4>No Auctions at the moment</h4>
            </div>
            <div ng-if="auctions.length > 0" ng-repeat="auction in auctions">
                <div ng-if="auction.active && timeleft >= 0">
                	<table class="table">
                        <tr>
                            <td>Seller :</td>
                            <td>{{auction.seller}}</td>
                        </tr>
                        <tr>
                            <td>Item :</td>
                            <td><img ng-src="assets/images/{{auction.item}}.png" height="20" width="20" alt="{{auction.item}}" title="{{auction.item}}" /></td>
                        </tr>
                        <tr>
                            <td>Quantity :</td>
                            <td>{{auction.qty}}</td>
                        </tr>
                        <tr ng-if="!auction.winner">
                            <td>Minimum bid :</td>
                            <td>{{auction.minbid}}</td>
                        </tr>
                        <tr ng-if="auction.winner">
                            <td>Winning bid :</td>
                            <td>{{auction.winbid}}</td>
                        </tr>
                        <tr>
                            <td>Time Left :</td>
                            <td>{{ timeleft | number:0}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <form name="frmauction">
                                    <input type="number" name="bid" min="auction.winbid" max="user.coins" ng-model="yourbid" required />
                                    <button class="btn btn-primary" ng-disabled="!frmauction.$valid" ng-click="placeBid(yourbid)">Place Bid</button>
                                </form>
                            </td>
                        </tr>
                    </table>
				</div>
                <div ng-if="auctions.length > 0 && timeleft < 0">
                    <div>
                        <div>
                            <h4 class="text-center">Congratulations {{ auction.winner }}!</h4>
                            <p class="text-center">You have won this bid.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>